@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  --cdarkblack: #292430;
  --cblack: #37323E;
  --cdarkgray: #3C3744;
  --cgray: #57678B;
  --cblue: #7296D1;
  --clight: #B4C5E4;
  --cwhitesec: #A9B3BE;
  --cwhite: #FBFFF1;

  background-color: var(--cblack);
  overflow: hidden;
}

* {
  font-family: "Roboto", sans-serif;
}


::-webkit-scrollbar {
  display: none;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  max-height: calc(100dvh - 4rem);

  width: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2rem 0;
}

.block {
  background-color: var(--cdarkgray);
  color: var(--cwhite);
  padding: 2px;
  width: calc(95% - 3.4rem);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-bottom: 1.5rem;
  opacity: 0;
  top: 2rem;
  transition: top 500ms ease-out, opacity 300ms;
}
.block::before {
  content: "";
  background: linear-gradient(180deg, var(--cwhite) 10%, var(--cblue) 50%, transparent);
  position: absolute;
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  transform-origin: bottom right;
  animation: rotate 6s infinite linear;
}
@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
.block:last-child {
  margin-bottom: 5rem;
}

.block-content {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  background-color: var(--cdarkblack);
  color: var(--cwhite);
  padding: 1.7rem;
}


/**/

.project-section{

}

.project-title {
  margin: 0;
}

.project-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-desc {
  padding-left: 1rem;
  position: relative;
  color:var(--cwhitesec);
}

.project-desc::after {
  content: "";
}

.tags{
  display: flex;
  gap: 0.3rem;
}
.tags > * {
  border: 2px solid var(--cgray);
  background-color: transparent;
  color: var(--cwhitesec);
  padding: 0.2rem .5rem;
  border-radius: 25px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  height: fit-content;
}


/***/

.fade-in {
  opacity: 1;
  top: 0;
  transition: top 500ms ease-out, opacity 300ms;
}

/***/

@media (max-width:700px) {
  .list {
    width: 90%;
  }

  .project-top {
    gap: 0.5rem;
    align-items: start;
    flex-direction: column;
  }
}