@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  --cdarkblack: #292430;
  --cblack: #37323E;
  --cdarkgray: #3C3744;
  --cgray: #57678B;
  --cblue: #7296D1;
  --clight: #B4C5E4;
  --cwhitesec: #A9B3BE;
  --cwhite: #FBFFF1;

  --s: 50px;
  --c: #191b22;
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%, #20222a 68% 70%, #0000 72%;
  background:
    radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0/var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0/var(--_s),
    repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0/var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
  background-attachment:fixed;
  overflow: hidden;
}

* {
  font-family: "Roboto", sans-serif;
}

.d-flex {
  display: flex;
}

::-webkit-scrollbar {
  display: none;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  max-height: calc(100dvh - 4rem);

  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2rem 0;
}

.list > * {
  width: calc(75% - 3.4rem);
  margin: auto;
  top: 2rem;
  transition: top 500ms ease-out, opacity 300ms;
  opacity: 0;
}

.block {
  background-color: var(--cdarkgray);
  color: var(--cwhite);
  padding: 2px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.block::before {
  content: "";
  background: linear-gradient(180deg, var(--cwhite) 10%, var(--cblue) 50%, transparent);
  position: absolute;
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  transform-origin: bottom right;
  animation: rotate 6s infinite linear;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

.block:last-child {
  margin-bottom: 5rem;
}

.block-content {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  background-color: var(--cdarkblack);
  color: var(--cwhite);
  padding: 1.7rem;
  height: calc(100% - 3.4rem);
}

/**/

.top-block {
  display: flex;
  justify-content: space-between;
}

.user-image{
  height: 50dvh;
  width: 100%;
}


/**/

.project-section {}

.project-title {
  margin: 0;
}

.project-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-desc {
  padding-left: 1rem;
  position: relative;
  color: var(--cwhitesec);
}

.project-desc::after {
  content: "";
}

.tags {
  display: flex;
  gap: 0.3rem;
}

.tags>* {
  border: 2px solid var(--cgray);
  background-color: transparent;
  color: var(--cwhitesec);
  padding: 0.2rem .5rem;
  border-radius: 25px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  height: fit-content;
}


/***/

.fade-in {
  opacity: 1;
  top: 0;
  transition: top 500ms ease-out, opacity 300ms;
}

/***/

@media (max-width:700px) {
  .list {
    width: 90%;
  }

  .project-top {
    gap: 0.5rem;
    align-items: start;
    flex-direction: column;
  }
}